{% extends "_layout/base.html" %}

{% block body %}
  <div class="container" style="margin-top: 15px;">
    <div class="row">
      <div class="col-sm-12">
        <span class="glyphicon glyphicon-list"></span><span class="tip-text"> 文章列表</span>
        <hr>
      </div>
    </div>
    <div class="row">
      <!-- 最新动态 -->
          <div class="col-xs-12">
            <div class="list-group">
              {% for blog in blogs %}
                <a href="/blogs/{{blog.id}}" class="list-group-item"><span class="badge badge-sm">{{ blog.createdAt }}</span>
                  <i class="fa fa-file-text-o"></i> {{ blog.title }}
                </a>
              {% endfor %}
            </div>
          </div>
    </div>
  </div>

{% endblock %}