@desktop:   ~"screen and (min-width: 768px)";
@tablet:    ~"screen and (max-width: 767px)";

@import "bootstrap_less/bootstrap.less";
@import "src/modify-bootstrap.less";
@import "src/video-player.less";

@import "src/vertical-align.less";

body{
    font-size: 14px;
    color: #333;
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    padding-top: 50px;
}

a{
    transition: color 0.3s;
}
p img{
    max-width: 100%;
}

.col-no-padding{
    padding-left: 0;
    padding-right: 0;
}

.col-centered{
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
}

/* editor */
#new-topic-container{
    display: none;
}

/* text align center */
.text-center{
    text-align: center;
}


@green-color: #4A793D;
.bg-1{
    background-image: url(/images/background/bg_01.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.bg-2{
    background-image: url(/images/background/bg_02.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.green-theme{
    background-color: @green-color !important;

    padding-top: 150px;
    padding-bottom: 150px;

    color: #fff !important;
    text-shadow: 0 1px 5px #333;
    border-color: darken(@green-color, 10%);

    hr{
        border-top-color: darken(@green-color, 10%);
    }

    &.shadow{
        box-shadow: 0 0 10px #212B0B inset;
    }
}

#index-footer{
    font-size: 0.9em;
}

.container-fluid{
    .big-screen{
        border-radius: 0;
        background-size: cover;

        img{
            width: 100%;
        }
    }
}