.full-box{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

@video-bg-color: #3a3a3a;

.player-area{
    background: #f6f7fb;
    padding: 100px 0;
}

.video-player-wrap{
    position: relative;
    height: 480px;
    background: @video-bg-color;
    color: #eee;

    .video-player{
        .full-box();
        width: 67%;
        left: 0;
        text-align: center;
        background: #000;
    }

    .video-list{
        .full-box();
        width: 33%;
        right: 0;
        padding: 0px;
        overflow-y: auto;
    }

    .video-list-title{
        margin-top: 0;
        padding: 10px;
        font-size: 18px;
        text-align: center;
        background: lighten(@video-bg-color, 10%);
    }

    video{
        max-height: 100%;
        max-width: 100%;
    }


    .item-pre{
        height: 110px;
        overflow: hidden;
        padding: 5px 10px;
        border-bottom: 1px solid darken(@video-bg-color, 10%);
        &:hover{
            cursor: pointer;
            color: #fff;
            background: darken(@video-bg-color, 10%);
        }

        img{
            float: left;
            max-width: 150px;
            height: 100px;
        }

        .description{
            float: left;
            padding-left: 10px;
        }
    }
}