<div class="container">
  <hr>
  <div class="row" id="index-footer">
    <div class="col-xs-12 col-sm-6">
      <h3>沂水县水产良种场观赏鱼养殖基地</h3>
      <p>地址: 山东省沂水县龙家圈镇鲁州路32号
      </p>
      <p>
        邮编: 276400
      </p>
    </div>

    <div class="col-xs-4 col-sm-2">
      <strong>联系方式</strong>
      <ul class="list-unstyled">
        <li><i class="fa fa-user"></i> 王先周</li>
        <li><i class="fa fa-phone"></i> 13854903165</li>
        <li><i class="fa fa-envelope-o"></i> 电子邮件: 暂无</li>
      </ul>
    </div>

    <div class="col-xs-4 col-sm-2">
      <strong>关于</strong>
      <ul class="list-unstyled">
        <li>关于我们</li>
        <li>商务合作</li>
      </ul>
    </div>

    <div class="col-xs-4 col-sm-2">
      <strong>相关链接</strong>
      <ul class="list-unstyled">
        <li><a href="http://sclz.chinaaquatic.cn" target="_blank" title="沂水县水产良种场－中国水产商务网">沂水县水产良种场</a></li>
      </ul>
    </div>

  </div>
  <hr>
</div>